# Entorno virtual
.venv/
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del editor/IDE (para VSCode)
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db