# Entorno virtual
.venv/
venv/
ENV/
env/
*/.venv/
*/venv/
*/ENV/
*/env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del editor/IDE (para VSCode)
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpeta del ejecutable
output/

# Archivos de Pyinstaler
build/
dist/
*.spec